html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.3;
  font-family: "Bai Jamjuree", sans-serif;
  color: #9fabb2;
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url("../images/bg-header-desktop.png");
  }
}

h1, h2, h3 {
  color: #4c545d;
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 2.05rem;
  font-weight: 600;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 22px;
  }
}

h2 {
  font-size: 1.85rem;
  margin-bottom: 15px;
}

@media only screen and (min-width: 1000px) {
  h2 {
    font-size: 2.1rem;
  }
}

h3 {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

@media only screen and (min-width: 1000px) {
  h3 {
    font-size: 1.4rem;
  }
}

p {
  line-height: 25px;
  margin: 0;
}

button {
  position: relative;
  border-radius: 30px;
  color: #ffffff;
  font-size: 1rem;
  font-family: "Bai Jamjuree", sans-serif;
  letter-spacing: 0.5px;
  border: none;
  padding: 16px 49px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 699px) {
  button {
    width: 100%;
  }
}

button.cyan {
  background-color: #26baa4;
  border-bottom: 4px solid #26baa4;
}

button.cyan:hover {
  background-color: #2acfb7;
  -webkit-box-shadow: 0 4px 14px rgba(38, 186, 164, 0.5);
          box-shadow: 0 4px 14px rgba(38, 186, 164, 0.5);
}

button.purple {
  background-color: #6173ff;
  border-bottom: 4px solid #6173ff;
}

button.purple:hover {
  background-color: #7a8aff;
  -webkit-box-shadow: 0 4px 14px rgba(97, 115, 255, 0.5);
          box-shadow: 0 4px 14px rgba(97, 115, 255, 0.5);
}

.wrapper {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 160px;
}

.wrapper2 {
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 123px;
}

@media only screen and (min-width: 1000px) {
  .wrapper2 {
    padding-right: 167px;
    padding-left: 167px;
    padding-bottom: 160px;
  }
}

.columnswrapper {
  padding-right: 32px;
  padding-left: 32px;
}

@media only screen and (min-width: 1000px) {
  .columnswrapper {
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 0px;
  }
}

.centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.centered .content {
  max-width: 700px;
  border: 1px solid red;
}

.centered .content img {
  width: 100%;
  max-width: 810px;
  height: auto;
}

p {
  margin-top: 0;
}

p.large {
  font-size: 1.1rem;
}

@media only screen and (min-width: 700px) {
  p.large {
    font-size: 1.29rem;
  }
}

p.medium {
  font-size: 1.03rem;
  letter-spacing: 0.5px;
  margin-bottom: 92px;
}

@media only screen and (min-width: 1000px) {
  p.medium {
    font-size: 1.07rem;
    margin-bottom: 75px;
  }
}

p.small {
  font-size: 1rem;
  margin-bottom: 36px;
  line-height: 1.7;
  max-width: 350px;
}

@media only screen and (min-width: 1000px) {
  p.small {
    font-size: 0.9rem;
    margin-bottom: 50px;
  }
}

.margin-bottom {
  margin-bottom: 50px;
  line-height: 1.9rem;
}

.hero {
  padding-top: 120px;
}

@media only screen and (min-width: 1000px) {
  .hero {
    padding-top: 130px;
  }
}

.hero__logo {
  margin-bottom: 55px;
}

@media only screen and (min-width: 1000px) {
  .hero h1 br {
    display: none;
  }
}

.hero__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 700px) {
  .hero__cta {
    display: block;
  }
}

.hero__cta button:first-child {
  margin-bottom: 20px;
}

@media only screen and (min-width: 700px) {
  .hero__cta button:first-child {
    margin-bottom: 0px;
    margin-right: 16px;
  }
}

.snippets {
  padding-bottom: 160px;
}

.snippets__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 1000px) {
  .snippets__content {
    -ms-grid-columns: 1.25fr 1fr;
        grid-template-columns: 1.25fr 1fr;
    gap: 55px;
  }
}

.snippets__image img {
  width: 100%;
}

@media only screen and (min-width: 700px) {
  .snippets__image img {
    max-width: 550px;
  }
}

@media only screen and (min-width: 1000px) {
  .snippets__image img {
    max-width: 100%;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
}

.snippets__columns {
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media only screen and (min-width: 700px) {
  .snippets__columns {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (min-width: 1000px) {
  .snippets__columns {
    text-align: left;
    -ms-grid-column-align: left;
        justify-self: left;
  }
}

.snippets__columns-features {
  max-width: 400px;
  border: 1px solid green;
}

@media only screen and (min-width: 1000px) {
  .snippets__columns-features :last-child {
    margin-bottom: 0px;
  }
}

.access__device img {
  width: 100%;
}

.supercharge__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 38px;
}

@media only screen and (min-width: 1000px) {
  .supercharge__columns {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.supercharge__icon {
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 37px;
}

.logos .logo {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 1000px) {
  .logos .logo {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.logos .logo img {
  margin-bottom: 55px;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

@media only screen and (min-width: 1000px) {
  .logos .logo img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

footer {
  background-color: #f5f6f8;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 700px) {
  footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 42px 70px;
    text-align: left;
  }
}

@media only screen and (min-width: 1000px) {
  footer .footer-container {
    padding: 32px 167px;
  }
}

footer .logo img {
  width: 58px;
  margin-bottom: 55px;
}

@media only screen and (min-width: 700px) {
  footer .logo img {
    margin-bottom: 0;
  }
}

footer .links {
  margin-bottom: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 34px;
  text-align: center;
}

@media only screen and (min-width: 700px) {
  footer .links {
    margin-bottom: 0;
    text-align: left;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 25px;
  }
}

@media only screen and (min-width: 1000px) {
  footer .links {
    -webkit-column-gap: 75px;
            column-gap: 75px;
    row-gap: 25px;
  }
}

footer .links a {
  text-decoration: none;
  color: #4c545d;
}

footer .links a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 700px) {
  footer .links a:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  footer .links a:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
  footer .links a:nth-child(3) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
  footer .links a:nth-child(4) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -ms-grid-row: 2;
    grid-row: 2 / 2;
  }
  footer .links a:last-child {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .social a {
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}

footer .social a:not(:last-child) {
  margin-right: 40px;
}

@media only screen and (min-width: 700px) {
  footer .social a:not(:last-child) {
    margin-right: 25px;
  }
}

footer .social a.facebook {
  background-image: url("../images/icon-facebook.svg");
}

footer .social a.tweeter {
  background-image: url("../images/icon-twitter.svg");
}

footer .social a.instagram {
  background-image: url("../images/icon-instagram.svg");
}
/*# sourceMappingURL=style.css.map */