.supercharge{

    &__columns{
        
        @include breakpoint(large){
            display: flex;
            justify-content: space-around;
            
        }
    }

    &__column{

        img{
                margin-bottom: 40px;
            }

        @include breakpoint(large){
            flex: 1;

            img{
                margin-bottom: 40px;
            }
        }
    }

    &__user{
        width: 100%;

        @include breakpoint(large){
            display: flex;
            justify-content: space-between;
        }

    }    
}